<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>{{message|safe}}</p>
    <form action="{%url "find" %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <tr><th></th><td>
        <input type="submit" value="click"></td></tr>
    </form>
    <hr>
    <table>
    <tr>
    <th>id</th>
    <th>name</th>
    <th>age</th>
    <th>mail</th>
    <th>birthday</th>
    </tr>
    {% for item in data %}
    <tr>
        <th>{{item.id}}</th>
        <td>{{item.name}}({{item.age}})</td>
        <td>{{item.mail}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>